/*  */
@font-face {
    font-family: Playfar;
    src: url(Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap'); */

* {
    /* Entfernen des Abstandes zum Bildschirmrand */
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    /* Entfernen der Scrollbar */
    display: none;
}

body {
    /* Entfernen der Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Schriftart */
    font-family: Playfar;
    /* font-family: 'Prosto One', cursive; */

    color: var(--text-clr);
}


a {
    /* Farbe und Dekoration entfernt */
    text-decoration: none;
    color: var(--text-clr);
}

li {
    /* Listenoptik entfernt */
    list-style: none;
}

/*  */
#hide {
    transition: opacity .25s ease-in-out;
}