/*  */

@import url(colors.css);

/* @font-face {
    font-family: Lugrasimo;
    src: url(Fonts/Lugrasimo/Lugrasimo-Regular.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&display=swap');

/* ----- Header komplett */
.header {
    /* background-color: wheat; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    height: 20vh;

    padding-top: 20px;
}

/* Headline */
.headline {
    /* font-family: Lugrasimo; */
    font-family: 'Padyakke Expanded One', cursive;
    font-weight: 900;
    font-size: 2.75rem;

    color: var(--text-clr);
}

/* Navbar */
.navigation {
    display: flex;
    justify-content: space-around;

    width: 750px;

    transition: opacity 0.35s ease-in-out;
}

.navigation li {
    font-size: 1.25rem;

    color: var(--text-clr);
}

/* Animation: Nav-Links (Unterstrich) */
.navigation li {
    display: inline-block;
    position: relative;
}

.navigation li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-clr);
    transition: width 0.35s ease-out;
}

.navigation li:hover::before {
    width: 100%;
}

.navigation .active::before {
    width: 100%;
}


/* Social MEdia Links */
.socials img{
    height: 25px;
}

.socials {
    position: absolute;
    top: 40px;
    right: 35px;

    width: 150px;

    display: flex;
    justify-content: space-around;
}

/* Hamburger Menu */
.menu {
    display: none;
}

@media (max-width: 750px) {
    .navigation {
        /* display: none; */
        opacity: 0;
        /* display: flex; */

        position: absolute;
        top: 20vh;
        left: 0;

        width: 100%;
        height: 40vh;

        /* display: flex; */
        flex-direction: column;
        align-items: center;
        
        text-align: center;
        /* gap: 30px; */

        z-index: 1;
    }

    .navigation li {
        font-size: 2.75rem;

        width: fit-content;

        pointer-events: none;
    }

    .menu {
        display: block;

        filter: invert(1);
    }

    .header {
        flex-direction: row;
        justify-content: space-between;

        height: 15vh;

        padding: 0 20px;
    }

    .headline {
        font-size: 2rem;
    }
}