/*  */

@font-face {
    font-family: Poppins;
    src: url(Fonts/Poppins/Poppins-Regular.ttf);
}

footer {
    position: unset !important;
}

main {
    font-family: Poppins;

    padding: 50px 20px;
    margin-top: 50px;

    border-top: 1px solid white;
}

.background-image {
    position: fixed;
}