/* */
.background-image {
    position: fixed;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;

    row-gap: 15px;

    margin: 100px 0 50px 0;
}

.card {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */

    background-color: rgba(30, 30, 30, 0.750);

    padding: 25px;

    border-radius: 25px;
    border: 3px solid black;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-image {
    width: 250px;
    height: 250px;

    object-fit: cover;
    object-position: center;

    border-radius: 50%;

    margin: 30px 0;
}

.card-headline {
    font-size: 2.25rem;

    text-align: center;
}

.info-table {
    width: 100%;

    text-align: start;

    font-size: 1.5rem;

    border-spacing: 0 25px;
}

.info-table tr:first-child {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.pic-info {
    margin-top: 50px;
    grid-column: span 2;

    text-align: center;
}

@media (max-width: 1050px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .pic-info {
        grid-column: span 1;
    }
}

@media (max-width: 750px) {
    .info-table {
        font-size: 1.15rem;

        border-spacing: 15px;
    }

    .card-headline {
        font-size: 2rem;
    }

    .card-image {
        height: 200px;
        width: 200px;
    }

    .background-image {
        height: 100vh;
    }
}