/* */
.background-image {
    position: fixed;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    row-gap: 10px;

    margin: 100px 0 50px 0;
}

.card {
    width: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(30, 30, 30, 0.750);

    padding: 25px;

    border-radius: 25px;
    border: 4px solid black;
}

.card-image {
    width: 250px;
    height: 250px;

    object-fit: cover;
    object-position: center;

    border-radius: 50%;

    margin: 30px 0;
}

.card-headline {
    font-size: 2.25rem;
}

.info-table {
    width: 100%;

    text-align: center;

    font-size: 1.5rem;

    border-spacing: 0 25px;
}

.info-table td:first-child {
    font-weight: bold;
}

@media (max-width: 1050px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 60%;
    }
}